:root {
  --yellow: #f0eee9;
  --light-gray: #f0eee9;
  --text-dark: #333333;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--yellow);
  overflow: hidden;
  cursor: pointer;
}

#progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: var(--light-gray);
}

#content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-dark);
  user-select: none;
}

#icon {
  font-size: 96px;
  line-height: 1;
}

#time {
  font-size: 72px;
  font-weight: 500;
  display: none;
}
